<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin page</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
	<h1>Admin home page</h1>
	<div>
		<a href="newSong">Add new song</a>
	</div>
	<br>
	<div>
		<a href="viewSong">View all song</a>
	</div>
	<br>
	<div>
		<a href="createPlaylist">Create playList</a>
	</div>
	<br>
	<div>
		<a href="viewPlaylist">All PlayList</a>
	</div>
</body>
</html>