<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>New Song</title>
</head>
<body>
	<form action="/addSong" method="post">
	<table>
		<tr>
			<td><label>Song Name:</label></td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td><label>Song Artist:</label></td>
			<td><input type="text" name="artist"></td>
		</tr>
		<tr>
			<td><label>Song Genre:</label></td>
			<td><input type="text" name="genre"></td>
		</tr>
		<tr>
			<td><label>Song Link:</label></td>
			<td><input type="text" name="link"></td>
		</tr>
		
		<tr>
			<td><input type="submit" value="ADD SONG"></td>
		</tr>
		
	
	</table>
	</form>
</body>
</html>